<div id="register-admin-container"
  class="flex container font-bold text-gray-700 text-5xl p-6 mx-auto items-center justify-center">
  <h3>ADD ADMIN</h3>
</div>

<!-- ADD ADMIN FORM -->
<div id="register-admin-container" class="flex container mx-auto items-center justify-center">
  <div class="w-full max-w-xs">
    <!-- create the ngSubmit and call the add employee function that we made in the register ts file. -->
    <form class="bg-gray-700 shadow-none rounded px-4 pt-6 pb-8 mb-4" (ngSubmit)="registerAdmin()">

      <div class="mb-6">
        <label class="block text-white text-sm font-bold mb-2" for="firstName">
          First Name
        </label>
        <input [(ngModel)]="newAdmin.firstName"
          class="shadow appearance-none border border-olive-400 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          name="firstname" type="text" placeholder="First Name" required />
      </div>
      <div class="mb-6">
        <label class="block text-white text-sm font-bold mb-2" for="lastName">
          Last Name
        </label>
        <input [(ngModel)]="newAdmin.lastName"
          class="shadow appearance-none border border-olive-400 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          name="lastname" type="text" placeholder="Last Name" required/>
      </div>
      <div class="mb-6">
        <label class="block text-white text-sm font-bold mb-2" for="email">
          Email
        </label>
        <input [(ngModel)]="newAdmin.email"
          class="shadow appearance-none border border-olive-400 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          name="email" type="email" placeholder="Email" required/>
      </div>
      <div class="mb-6">
        <label class="block text-white text-sm font-bold mb-2" for="userName">
          Username
        </label>
        <input [(ngModel)]="newAdmin.userName"
          class="shadow appearance-none border border-olive-400 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          name="userName" type="text" placeholder="Username" required/>
      </div>
      <div class="mb-6">
        <label class="block text-white text-sm font-bold mb-2" for="password">
          Password
        </label>
        <input [(ngModel)]="newAdmin.password"
          class="shadow appearance-none border border-olive-400 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          name="password" type="text" placeholder="************" required/>
      </div>

      <div class="flex items-center justify-between">
        <!-- change the button to a submit button to give info from the form -->
        <button
          class="bg-olive-400 hover:bg-opacity-80 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="submit">
          ADD ADMIN
        </button>
      </div>
    </form>
  </div>
</div>


<div *ngIf="displayAlert" 
class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none 
focus:outline-none justify-center items-center flex">
  <div class="relative w-auto my-6 mx-auto max-w-6xl">
    <!--content-->
    <div
      class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-gray-700 
      outline-none focus:outline-none p-6 border border-solid border-olive-400 rounded-b">
    <!--header-->
    <div class="items-start justify-between bg-gray-700">
      <h3 class="text-xl text-white font-semibold">
        {{alertmessage}} </h3>
    <!--footer-->
    <div class="flex items-center bg-gray-700 justify-end">
      <button
        class="bg-olive-400 hover:bg-opacity-80 text-white font-bold px-3 m-2 p-3 rounded focus:outline-none focus:shadow-outline"
        type="button" style="transition: all .15s ease" (click)="toggleAlert()">
        FILL IN THE BLANKS
      </button>
    </div>
  </div>
</div>
</div>