<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>No Access</title>
</head>

<body>
    <div id="department-container" class="flex container font-bold text-2xl text-gray-700 mx-auto p-8 items-center justify-center">
        <div>You do not have access to this page.</div>
      </div>

      <div id="department-container" class="flex container mx-auto items-center justify-center">
      <div>
        <a routerLink="../admin-login">
          <button class="bg-olive-300 hover:bg-opacity-70 text-gray-700 px-15 font-bold m-2 py-5 px-3 rounded">
            GO TO ADMIN LOGIN </button>
          </a>
          <a routerLink="../">
            <button class="bg-olive-300 hover:bg-opacity-70 text-gray-700 px-15 font-bold m-2 py-5 px-11 rounded">
              GO TO HOME </button>
            </a>
      </div>
      </div>
</body>

</html>
