<div id="department-container" class="flex container font-bold text-5xl text-gray-700 mx-auto p-8 items-center justify-center">
    ADMIN PAGE
    </div>
    
    <div id="register-container" class="flex container mx-auto items-center justify-center">
    <div class="w-full max-w-xs">
    <form class="bg-gray-700 shadow-none rounded px-4 pt-6 pb-8 mb-4">
    <div class="mb-6">
    <label class="block text-white text-sm font-bold mb-2" for="firstName">
    ADD NEW EMPLOYEE
    </label>
    <input
    class="shadow appearance-none border border-olive-400 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
    id="firstname" type="text" placeholder="Employee">
    </div>
    <div class="flex items-center justify-between">
    <button
    class="bg-olive-400 hover:bg-opacity-80 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
    type="button">
    ADD
    </button>
    </div>
    <div class="mt-6 mb-6">
    <label class="block text-white text-sm font-bold mb-2">
    </label>
    <input
    class="shadow appearance-none border border-olive-400 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
    id="password" type="password" placeholder="Employee to Edit">
    </div>
    <div class="flex items-center justify-between">
    <button
    class="bg-olive-400 hover:bg-opacity-80 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
    type="button">
    EDIT
    </button>
    </div>
    </form>
    </div>
    </div>