<div id="profile-container"
  class="flex container font-bold text-5xl text-gray-700 mx-auto p-8 items-center justify-center">
  ADMIN PAGE
</div>

<div id="profile-container" class="flex container mx-auto items-center justify-center">
  <div class="w-full max-w-xs">
    <form class="bg-gray-700 shadow-none rounded px-4 pt-6 pb-6 mb-2">
      <div class="mb-6">
        <h1 class="text-white font-semibold text-xl mt-2 mb-3">ADD NEW EMPLOYEES</h1>
        <a routerLink="../register">
          <button
            class="bg-olive-400 hover:bg-opacity-80 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="button">
            ADD EMPLOYEE
          </button>
        </a>
      </div>
      <hr>
      <!-- <div class="mt-6 mb-6">
        <label class="block text-white text-sm font-bold mb-2"> </label>
        <input
          class="shadow appearance-none border border-olive-400 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="editEmployee"
          type="editEmployee"
          placeholder="Employee to Edit"
        />
      </div>
      <div> -->
      <!-- to loop thrugh the employees and show on the screen -->
      <!-- <div *ngFor="let employee of listOfEmployees">
          <a routerLink="/profile/{{ employee.id }}">
            <p class="block text-white font-bold mb-2">
              {{ employee.firstName }} {{ employee.lastName }}
            </p>
          </a>
        </div>
      </div> -->

      <!-- edit employee list -->
      <div>
        <h1 class="text-white font-semibold text-xl mt-5 mb-3">CURRENT EMPLOYEES</h1>
      </div>

      <div *ngFor="let employee of listOfEmployees">
        <div>
          <h3 class="text-white text-xl font-semibold text-bold mt-2 mb-1" value="employee.loginId">
            {{ employee.id }} - {{ employee.firstName }} {{ employee.lastName }}
          </h3>

          <!-- <select
            class="dropdown shadow appearance-none border border-olive-400 rounded w-full mb-1 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            name="select employee"
          >
            <span class="mr-2">Active Employees</span>
            <option
              class="bg-gray-700 text-grey-200 font-semibold py-2 px-4 rounded inline-flex items-center"
              value="employee.loginId"
            >
              {{ employee.firstName }} {{ employee.lastName }}
        </option>
          </select> -->
        </div>

        <div>
          <a [routerLink]="['/update', employee.id]">
            <button
              class="bg-olive-400 hover:bg-opacity-80 text-white font-bold mb-6 py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="submit">
              EDIT EMPLOYEE
            </button>
          </a>
        </div>
      </div>

      <!-- <div class="flex items-center justify-between">
       <a routerLink="['/update', employee.id]">

        <button
          class="bg-olive-400 hover:bg-opacity-80 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="submit"
        >
          EDIT EMPLOYEE
        </button>
       </a>
        
      </div> -->
    </form>
  </div>
</div>

