<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

</body>

</html>
<div id="department-container" class="flex container font-bold text-5xl text-gray-700 mx-auto p-8 items-center justify-center">
  <div>DEPARTMENT</div>
</div>
  <div id="department-container" class="flex container mx-auto items-center justify-center">

  <div>
    <a routerLink="ship">
      <button class="bg-olive-300 hover:bg-opacity-70 text-gray-700 px-15 font-bold m-2 py-10 px-10 rounded">
        SHIPPING </button>
      </a>
      <a routerLink="prod">
      <button class="bg-olive-300 hover:bg-opacity-70 text-gray-700 px-15 font-bold m-2 py-10 px-5 rounded">
        PRODUCTION</button>
    </a>
  </div>
</div>