<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

</body>

</html>
<div id="department-container" class="flex container font-bold text-5xl mx-auto p-8 items-center justify-center">
  <div>DEPARTMENT</div>
</div>
  <div id="department-container" class="flex container mx-auto items-center justify-center">

  <div>
    <a routerLink="ship">
      <button class="bg-steel-800 hover:opacity-50 text-white px-15 font-bold py-10 px-10 rounded">
        SHIPPING </button>
      <button class="bg-steel-800 hover:opacity-50 text-white px-15 font-bold py-10 px-5 rounded">
        PRODUCTION</button>
    </a>
  </div>
</div>